body{font-family: 'Inter', sans-serif;font-size: 16px;}

a{text-decoration: none;}

h1, h2, h3, h4, h5, p{color:#fff; }

.big-text{font-size: 40px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;font-weight: bold}
.small.text{font-size: 14px;}

.intro-text{text-transform: uppercase;font-size: 40px;font-weight: bold;}

.button{
  padding: 18px 28px; 
  background: #316bff; 
  color: #fff; 
  display: inline-block;
  border-radius: 4px;
  transition: all .6s ease;
  text-decoration: none;
}

html,body,main{
  background:linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9));
  background-size: cover;
  height: 100%;
}

.header{
  width: 100%;
  position: fixed;
  top: 0;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  
}

.logo{
 z-index:1;
 padding-top: 22px;
 padding-left: 70px;
 padding-right: 70px;
}

.menu{
  width: 100%;
  z-index:0;
  padding-top: 15px;
  padding-left: 25px;
  transition: all 1s cubic-bezier(.215, .61,.355,1);
}

.menu li{display: inline-block;}
.menu li a{color: #fff;padding: 50px;display: block;}

.flex-split {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.rel {
  position: fixed;
  right:0;
  margin-top:50px;
  margin-right: 85px;
  transition: all .6s ease;
  display: block;
  text-decoration: none;
  padding: 18px 28px; background: #316bff; color: #fff; display: inline-block;border-radius: 4px;
}

.cta .rel:hover{
  box-shadow: 0 0 0 5vw #333 inset;
}

h1{
  position: absolute;
  margin-top: 180px;
  margin-left: 650px;
}

.main{
 position: absolute;
  margin-top: 270px;
  margin-left: 280px;
}

@media (max-width:768px) {
  h1{
    padding: 70px;
  }
  div img{
    height:180px ;
    width:270px ;
  }
  html,body{
    height: 1100px;
  }
}
