/* ! Base myworks */

body{font-family: 'Inter', sans-serif;font-size: 16px;}

a{text-decoration: none;}


h1, h2, h3, h4, h5, p{color:#fff; padding-bottom: 30px;}

.big-text{font-size: 40px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;font-weight: bold}
.small.text{font-size: 14px;}

.intro-text{text-transform: uppercase;font-size: 40px;font-weight: bold;}

.button{
  padding: 18px 28px; 
  background: #316bff; 
  color: #fff; 
  display: inline-block;
  border-radius: 4px;
  transition: all .6s ease;
  text-decoration: none;
}


html, body {
    height: 100%;
    width: 100%;
    background:linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9));
    background-size: cover;
  }

    h1{
      position: absolute;
      margin-top: 180px;
      margin-left: 605px;
    }

    .header{
      width: 100%;
      position: fixed;
      top: 0;
      left:50%;
      transform:translateX(-50%);
      display:flex;
      
    }
    
    .logo{
     z-index:1;
     padding-top: 22px;
     padding-left: 70px;
     padding-right: 70px;
    }
    
    .menu{
      width: 100%;
      z-index:0;
      padding-top: 15px;
      padding-left: 25px;
      transition: all 1s cubic-bezier(.215, .61,.355,1);
    }
    
    .menu li{display: inline-block;}
    .menu li a{color: #fff;padding: 50px;display: block;}
    
    .cta {
     position: fixed;
     right:0;
     padding-top:50px;
     padding-right: 85px;
    }
    
    .flex-split {
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
    }
    
    .rel {
      position: fixed;
      right:0;
      margin-right: 85px;
      transition: all .6s ease;
      display: block;
      text-decoration: none;
      padding: 18px 28px; background: #316bff; color: #fff; display: inline-block;border-radius: 4px;
    }
    
    .cta .rel:hover{
      box-shadow: 0 0 0 5vw #333 inset;
    }

.content{
  position: absolute;
  margin-top: 340px;
  margin-left: 150px;
}

.document{
  position: absolute;
  margin-top: 340px;
  margin-left: 790px;
}

.style{
  font-weight: bold;
  color:#fff;
  position: absolute;
  margin-top: 700px;
  margin-left: 960px;
  padding: 8px 17px; 
  background: #316bff; 
  color: #fff; 
  border-radius: 15px;
  transition: all .9s ease;
  text-decoration: none; 
}

.style:hover{
  box-shadow: -20vw 0 0 #333 inset;
}

.span{
  font-weight: bold;
  color:#fff;
  position: absolute;
  margin-top: 700px;
  margin-left: 302px;
  padding: 8px 17px; 
  background: #316bff; 
  color: #fff; 
  border-radius: 15px;
  transition: all .9s ease;
  text-decoration: none; 
}

.span:hover{
  box-shadow: 20vw 0 0 #333 inset;
}

@media (max-width:768px) {

  h1{
    padding: 70px;
  }
  div img{

height:200px ;
width:270px ;

}
html,body{
  height: 1200px;
}
}

