/* ! Base style */

body{font-family: 'Inter', sans-serif;font-size: 16px;}

a{text-decoration: none;}

h1, h2, h3, h4, h5, p{color:#fff; padding-bottom: 30px;}

.big-text{font-size: 70px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;font-weight: bold}
.small.text{font-size: 14px;}

.intro-text{font-size: 40px;font-weight: bold;}

.button{padding: 18px 28px; background: #316bff; color: #fff; display: inline-block;border-radius: 4px}

@media (max-width: 768px) {
  .big-text{font-size: 40px;}
}

/* ! header */

.header{
   width: 100%;
   position: fixed;
   top: 0;
   left:50%;
   transform:translateX(-50%);

   display:flex;
   max-width: 1350px;
}

.logo{
z-index:1;
padding-top: 22px;
padding-left: 25px;
padding-right: 70px;
}

.menu{
   width: 100%;
   z-index:0;
   padding-top: 15px;
   padding-left: 25px;
   transition: all 1s cubic-bezier(.215, .61,.355,1);
}

.menu li{display: inline-block;}
.menu li a{color: #fff;padding: 50px;display: block;}

.cta {
  position: fixed;
  right:0;
  padding-top:50px;
  padding-right: 40px;
}

.hamburger{display: none;}

@media (max-width:768px) {
  .cta{
    text-align: center;
    height: 100%;
    width: 89.5%;
    top: 680px;
  }

  .menu{position: absolute;top: 0;right: -100%;background: #000;height:100vh;padding-top: 160px;}
  .menu li{display: block;}
  .menu li a{font-size:20px;padding:15px 5px}
  .menu--open{right: 0%;}

  .hamburger{
    display: block;
    width: 30px;
    height:30px;
    position: absolute;
    top: 60px;
    right: 30px;
  }
  
}

.hamburger span{background: #fff;height: 3px;width: 100%;display: block;margin-bottom: 5px;}

.hero{
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  background:linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.9));
  background-size: cover;
}

.hero__content{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;

}

.hero__content h1
.hero__content p{color: #fff}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
